<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.date_field :date %>
    <%= f.text_field :distance, placeholder: "Distance" %>
    <%= f.text_field :time, placeholder: "How long were you running?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>